@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", serif;
}

#home{
width: 1348px;
height: 100vh;
background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%), url(assets/hero-bg.png);
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;


}

.home-content{
    width: 700px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
    
}

.title1{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.title2{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 44px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}

.discrip{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
.btn-con{
    text-align: center;
}
.btn{
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border: none;
padding: 16px 27px 16px 27px;
}


/* Card section css */


.card-content{
    width: 850px;
    margin: 100px auto;
}

.title3{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.title4{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
.card-container2{
    display: flex;
    margin: 30px auto;
    width: 100%;
    gap: 50px; 
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid #69fa01;
    border-radius: 15px;
    padding-bottom: 15px;
}

.images-box{
    width: 250px;
}
.images-box img{
    width: 100%;
    
}

.shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 10px 28px 10px 28px;
}

.title5{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 40px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0%;
text-align: center;
}

.title6{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.card p{
    text-align: center;
}

/* about us section */
#about{
   
    display: flex;
    height: 505px;
    border-top: 3px solid #69fa01;
    border-bottom: 3px solid #69fa01;
}

.left{
    
    background: url(assets/foods.png);
    background-size: cover;

    width: 50%;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.right>h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}

.foll{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border-bottom: 1px solid #52c303;
border-top: 1px solid #52c303;


padding: 20px 5px 20px 5px;
width: 100%;
}
.social{
    display: flex;
    gap: 20px;
}
.social>i{
    font-size: 35px;
    color: #52c303;
}

